{% extends 'base.html' %}
{% block content_list %}

    <div class="d-flex">

<div class="col-6">
    <p class="h3">
        {% if request.path == '/registration/patient/image/new' %} Add Image {% else %} Edit Image {% endif %}
        {% if request.path != '/registration/patient/image/update' %}<small>{{ object.name }}</small>{% endif %}
    </p>
    <br>
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}

        <div class="form-group">

            {{ form.as_p }}

        </div>

        <input type="submit" class="btn btn-outline-primary" {% if request.path == '/registration/patient/image/new' %} value="Add new" {% else %} value="Update" {% endif %}>
    </form>

</div>

    {% if request.path == '/registration/patient/image/new' %}

    {% else %}
    <div class="col-6">
        <p class="h4"> Current image </p>
        <img width="300px" src="{% url 'homepage' %}{{ object.url }}">
    </div>
    {% endif %}

</div>

{% endblock %}