{% extends 'without_menu.html' %}
{% block content_list %}

    <div class="container-fluid">

        <div class="col-12 m-4">
            <p class="h4 text-center"> ЎЗБЕКИСТОН РЕСПУБЛИКАСИ ССВ НАВОИЙ ВИЛОЯТИ ССБ </p>
            <p class="h5 text-center">Навоий вилояти кўп тармоқли тиббиёт маркази маслахат поликлиникаси эндоскопия хонаси </p>
        </div>

        <table class="table table-bordered col-12">
            <tbody>
                <tr>
                    <td> <strong> ФИШ: </strong> {{ object.name }}, {{ object.date_birth }} </td>
                    <td> <strong> Анестезия: </strong> {{ object.anesthesia }} </td>
                </tr>
                <tr>
                    <td> <strong> Аппарат: </strong> Видеопроцессор «PENTAX» (Япония), Р-0,8 см. </td>
                    <td> <strong> Кўрик вақти: </strong> {% load tz %} {% timezone 'Asia/Tashkent' %} {{ object.diagnosis_date }} {% endtimezone %} </td>
                </tr>
                <tr>
                    <td colspan="2"> <strong> Ташхис: </strong> {{ object.diagnosis }} </td>
                </tr>
            </tbody>
        </table>

        <div class="d-flex flex-row flex-wrap">
            {% for image in images %}
                <table class="table-sm table-bordered col-6">
                    <tr>
                       <td class="text-center"> <img width="400px" height="400px" src="{% url 'homepage' %}{{ image.url }}" alt=""> </td>
                    </tr>
                    <tr>
                        <td class="text-center"> {{ image.description }} </td>
                    </tr>
                </table>
            {% endfor %}
        </div>
        <div class="container"> <p class="h5 text-center mt-3"> Врач-эндоскопист: О.У.Равшанов. </p> </div>
    </div>

{% endblock %}