{% extends 'base.html' %}
{% block content_list %}

<div class="col-12">

<div style="display: flex; justify-content: space-between; margin: 20px;">
    <p class="h3"> Device list </p>
    <a href="device/new" class="btn btn-outline-primary"> Add new </a>
</div>

    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="text-center">№</th>
          <th scope="col">Title</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    {% for instance in object_list %}
        <tr>
             <td class="text-center">{{ instance.id }}</td>
             <td> <a href='{{ request.path }}/update/{{ instance.id }}'>{{ instance.name }}</a> </td>
             <td style="text-align: center; width: 10%;"> <a href="{{ request.path }}/update/{{ instance.id }}"><i class="material-icons">&#xE254;</i></a> </td>
             <td style="text-align: center; width: 10%;"> <a href="{{ request.path }}/delete/{{ instance.id }}" style="color: darkred"><i class="material-icons">&#xE872;</i></a> </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>

</div>


{% endblock %}