{% extends 'base.html' %}
{% block content_list %}

<div class="col-12">

<div style="display: flex; justify-content: space-between; margin-top: 10px;">
    <p class="h3"> Template of Diagnosis List </p>
    <a href="templatediagnosis/new" class="btn btn-outline-primary"> Add new </a>
</div>

<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination">
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1"><small>On page <strong>{{ page_obj.number }}</strong>. Showing <strong>{{ page_obj.object_list.count }}</strong> of total <strong>{{ page_obj.paginator.count }}</strong> items.</small></a>
        </li>
    </ul>
</nav>

    <table class="table table-bordered table-sm">
      <thead class="thead-light">
        <tr>
          <th scope="col" class="text-center">№</th>
          <th scope="col">Title</th>
          <th scope="col">Description</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
    {% for instance in object_list %}
        <tr>
             <td class="text-center" style="width: 5%;">{{ forloop.counter0|add:page_obj.start_index }}</td>
             <td> <a href='{{ request.path }}/update/{{ instance.id }}'>{{ instance.title }}</a> </td>
             <td style="font-size: 14px;"> {{ instance.diagnosis }} </td>
             <td style="text-align: center; width: 5%;"> <a href="{{ request.path }}/update/{{ instance.id }}"><i class="material-icons">&#xE254;</i></a> </td>
             <td style="text-align: center; width: 5%;"> <a href="{{ request.path }}/delete/{{ instance.id }}" style="color: darkred"><i class="material-icons">&#xE872;</i></a> </td>
        </tr>
    {% endfor %}
      </tbody>
    </table>

{% if is_paginated %}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center pagination">
        {% if page_obj.has_previous %}
          <!-- If it ain't a search result display, don't append the search query
               to the URL. -->
          {% if not search %}
          <li class="page-item">
              <a class="page-link" href="/templates/templatediagnosis?page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% else %}
          <!-- Append the searched query to the URL, so that on a search results page,
               the pagination don't revert to listing all the listview items. -->
            <li class="page-item">
              <a class="page-link" href="/templates/templatediagnosis?{{search}}&page={{ page_obj.previous_page_number }}" tabindex="-1">Previous</a>
          </li>
          {% endif %}
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#" tabindex="-1">Previous</a>
        </li>
        {% endif %}
        {% for object in page_obj.paginator.page_range %}
            <li class="page-item"><a class="page-link" href="/templates/templatediagnosis?page={{ forloop.counter }}">{{ forloop.counter }}</a></li>
        {% endfor %}
        {% if page_obj.has_next %}
          {% if not search %}
          <li class="page-item">
              <a class="page-link" href="/templates/templatediagnosis?page={{ page_obj.next_page_number }}">Next</a>
          </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="/templates/templatediagnosis?{{search}}&page={{ page_obj.next_page_number }}">Next</a>
          </li>
          {% endif %}
        {% else %}
        <li class="page-item disabled">
            <a class="page-link" href="#">Next</a>
        </li>
        {% endif %}
    </ul>
</nav>
{% endif %}


</div>


{% endblock %}