{% load static %}
<!Doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    {% load static %}
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
    <title>Django app</title>
  </head>
  <body>

        <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4><a href="{% url 'homepage' %}">Endoscopy registration</a></h4>
            </div>

            <ul class="list-unstyled components">
                <p>Menu</p>
                <li>
                    <a href="{% url 'endosreg:patient_page' %}">Patients</a>
                </li>
                <li>
                    <a href="{% url 'endostemplates:device_page' %}">Device</a>
                </li>
                <li>
                    <a href="{% url 'endostemplates:anesthesia_page' %}">Anesthesia</a>
                </li>
                <li>
                    <a href="{% url 'endostemplates:diagnosistemplate_page' %}">Diagnosis templates</a>
                </li>
                <li>
                    <a href="#">Contact</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content" style="background: whitesmoke;">

{#            <nav class="navbar navbar-expand-lg navbar-light bg-light">#}
{#                <div class="container-fluid">#}
{#                    <div class="collapse navbar-collapse" id="navbarSupportedContent">#}
{#                        <p class="h2 font-italic"> Endoscopy Patient Registration </p>#}
{#                    </div>#}
{#                </div>#}
{#            </nav>#}

            {% block content_list %}
                tables
            {% endblock %}


        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  </body>
</html>